// @import "normalize";
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';
// @import '~bootstrap-filestyle2/src/bootstrap-filestyle';
// @import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
// @import '@fortawesome/fontawesome-free/scss/regular.scss';
// @import '@fortawesome/fontawesome-free/scss/solid.scss';
// @import '@fortawesome/fontawesome-free/scss/brands.scss';
@import 'theme';

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

.main {
    flex: 1;
}

.footer {
    flex-shrink: 0;
}

#spinner-div {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 2;
  }




.register {
    padding-top: 100px;
    header {
        background: $theme-bg-dark;
    }
}

.hero-logo {
    width: 100px;
}

.organizer {
    .figure {
        position: relative;
        
        img {
            border: 10px solid #fff;
            max-width: 100%;
        }
    }
}


.list-icon {
        position: relative;
        top: 0.3rem;
    
}



// Wave
.custom-shape-divider-bottom-1716745306 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1716745306 svg {
    position: relative;
    display: block;
    width: calc(115% + 1.3px);
    height: 55px;
}

.custom-shape-divider-bottom-1716745306 .shape-fill {
    fill: #FFFFFF;
}


body {
    // background: url('~images/background/bg-dna-2.png');
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-attachment: scroll;
}
.bg-image {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -100;
    opacity: 0.020;
    // background: url('~images/background/bg-cell.png');
    // background: url('~images/background/bg-dna-2.png');
    background-repeat: no-repeat;
    background-size: cover;
}



@mixin bg-before($img) {
    &::before {
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-size: cover;
        background: url($img);
        opacity: 0.3;
        z-index: -1;
        // background-attachment: fixed;
      }
}
// Background opacity
.conf-bg-primary { 
    position: relative;
    background-color: rgba($theme-bg-primary, 0.85);
    
    @include bg-before('~images/background/bg-green.jpg');
}

.conf-bg-light { 
    position: relative;
    background-color: rgba($theme-bg-light, 1);
    // @include bg-before('~images/background/bg-person-bw.jpg');
}

.conf-bg-white { 
    position: relative;
    
    &::before {
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        // background: url('~images/background/bg-person.jpg') left no-repeat;
        background-size: cover;
        opacity: 0.08;
        z-index: -1;
        background-attachment: fixed;
      }
}
  

// .footer {
//     background-image: url('~images/background/bg-flowers-black.png')
// }